<%-include('header.ejs')%> 
    

    <ul>
        <li> 이름 : 김건오</li>
        <li> 이메일 : dns7816@naver.com</li>
        <li> 주소 : 서울 </li>
        
    </ul>


<%-include('footer.ejs')%>     
